/* styles/tile.module.scss */
.tile {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hovered {
  background: rgba(var(--foreground-rgb), 0.9);
}

.idle {
  background: rgba(var(--foreground-rgb), 0.5);
}

.selected {
  background: rgba(var(--background-end-rgb), 0.9);
}

.highlighted {
  background: rgba(var(--highlight), 0.9);
}

.path {
  background: rgba(255, 215, 0, 0.7); // Gold color for the path
}

.charBall {
  width: 20px;
  height: 20px;
  background-color: #f00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: bold;
}
